<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBazLJzkY-b7mKYwTtEiIEvr6g3tkUyPdw</string>
	<key>GCM_SENDER_ID</key>
	<string>599556060774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.premjithk.yuhealth.yuHealth</string>
	<key>PROJECT_ID</key>
	<string>yuhealth-b6189</string>
	<key>STORAGE_BUCKET</key>
	<string>yuhealth-b6189.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599556060774:ios:475c5248a7eecd1a555fa7</string>
</dict>
</plist>